.get-started-content {
  max-width: 35rem;
}

.get-started-main > h1 {
  font-weight: bolder;
  color: var(--colorBlue);
}

.get-started-main > p {
  color: grey;
  font-size: 1rem;
}

.user-steps-info {
  align-items: flex-start;
  margin-top: 1rem;
}

.user-steps-container {
  margin-right: 2rem;
  flex-direction: column;
}

.user-step {
  margin-bottom: 0.5rem;
  align-items: baseline;
}

.user-step > p {
  margin-left: 0.75rem;
  font-size: 1rem;
}

.get-started-button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding-right: 1rem;
}

.get-started-button {
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  padding: 0.8rem 1.2rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

.data-policy-button {
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.get-started-image {
  max-width: 45rem;
  object-fit: contain;
}

@media only screen and (max-width: 1024px) {
  .get-started {
    flex-direction: column;
  }

  .get-started-image {
    margin: auto;
    width: 100%;
  }
}
