.carbon-foot-print {
  width: 100%;
}

.carbon-foot-print-main {
  height: 100%;
  flex: 0.825;
  background: var(--space);
}

@media only screen and (max-width: 1024px) {
  .carbon-foot-print {
    flex-direction: column;
    height: 100vh;
  }

  .carbon-foot-print-main {
    flex: 1;
  }
}