.carbon-cost-container {
  background-color: #e7e7e7;
  height: 95%;
  width: 95%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 0px 7px rgb(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
}

.carbon-cost-heading {
  text-align: center;
  font-size: 1.5rem;
}

.carbon-cost-info {
  margin: 0;
  line-height: 1.5rem;
  font-size: 1rem;
}

.carbon-cost-table {
  margin-block: 2rem;
  margin-inline: auto;
  flex: 1;
}

.carbon-cost-table input {
  background-color: inherit;
  border: none;
  text-align: center;
}

.carbon-cost-table table th {
  font-weight: 600;
  background: #1890ff !important;
  color: #fff;
}

.carbon-cost-actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.carbon-cost-actions button {
  display: block;
  margin-left: 0.5rem;
  font-size: 0.65rem;
}

@media (max-width: 768px) {
  .carbon-cost-container {
    width: 95%;
  }
  .carbon-cost-actions {
    justify-content: space-between;
  }
  .carbon-cost-actions button {
    margin-top: 0.3rem;
  }
}
