.ant-modal {
  max-width: 1440px;
}

.ant-modal-content {
  background-color: var(--color-gray-white);
}

.help-steps-sources {
  margin-left: 4rem;
}

.help-steps > p > span,
.help-brief h3 {
  font-weight: 700;
}

.help-steps-sources a {
  text-decoration: underline;
}

.help-close {
  padding: 0rem 3rem;
}


@media only screen and (max-width: 768px) {
  .help-steps-sources {
    margin-left: 2rem;
  }
}
