.help .ant-modal {
  max-width: 1440px;
}

.help .ant-modal-content {
  background-color: var(--color-gray-white);
}

.help__stepsSources {
  margin-left: 4rem;
}

.help__steps > p > span,
.help__brief h3 {
  font-weight: 700;
}

.help__steps-sources a {
  text-decoration: underline;
}

.help__close {
  padding: 0rem 3rem;
}

.help > .ant-modal-content > .ant-modal-body {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .help__stepsSources {
    margin-left: 2rem;
  }
}
