.SideDrawer {
  background: #444;
  height: 100%;
}

.arrow {
  background: gray;
  color: #fff !important;
  padding: 4px;
}

.arrow.arrow-close {
  position: absolute;
  right: -10rem !important;
}
