.final-result {
  background-color: var(--color-gray-white);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0.2rem 0;
}

.final-result-container {
  width: 73vw;
  margin: auto;
}

.final-result-header > p {
  padding-block: 0.5rem;
  text-align: center;
}

.final-result-header > p > .ant-btn {
  padding: 0px 7px;
}

.ant-pagination {
  margin: 0.5rem 0 !important;
}

.final-result-carbon-cost > h3 {
  text-align: end;
}

.final-result-carbon-cost > h3 > span {
  font-weight: 600;
}

.ant-table-cell {
  padding: 0.2rem !important;
}

.ant-table-tbody > tr > td {
  overflow-wrap: initial;
}

.final-result-total-carbon-buttons > .ant-btn {
  padding: 0px 7px;
  margin: 0.2rem;
}

.ant-table-body::-webkit-scrollbar {
  height: 8px;
  width: 0px;
  border: 1px solid #fff;
}

.ant-table-body::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

.final-result::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .final-result {
    width: 95%;
    height: 95%;
  }
  .final-result-container {
    width: 90vw;
    margin: auto;
  }
}
