.final-result {
  background-color: var(--color-gray-white);
  width: 95%;
  height: 95%;
  overflow-y: scroll;
  padding: 0.2rem 0;
  border-radius: 12px;
  box-shadow: 0px 0px 7px rgb(0, 0, 0, 1);
}

.final-result-container {
  width: 73vw;
  margin: auto;
}

.final-result-header > h2 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.final-result-header > p {
  font-size: 0.65rem;
  padding-bottom: 0.1rem;
  text-align: center;
}

.final-result-header > p > .ant-btn {
  font-size: 0.55rem;
  padding: 0px 7px;
  height: 1.5rem;
}

.ant-pagination {
  margin: 0.5rem 0 !important;
}

.final-result-carbon-cost > h3 {
  text-align: end;
  font-size: 0.8rem;
}

.final-result-carbon-cost > h3 > span {
  font-weight: 600;
  margin-left: 1rem;
}

.final-result-total-carbon > h2 {
  font-size: 0.9rem;
}

.ant-table-cell {
  font-size: 0.55rem;
  padding: 0.2rem !important;
}

.ant-pagination-item-link,
.ant-pagination-item {
  font-size: 0.6rem;
}

.ant-table-tbody > tr > td {
  overflow-wrap: initial;
}

.final-result-total-carbon-buttons > .ant-btn {
  font-size: 0.55rem;
  padding: 0px 7px;
  height: 1.5rem;
  margin: 0.2rem;
}

.ant-table-body::-webkit-scrollbar {
  height: 8px;
  width: 0px;
  border: 1px solid #fff;
}

.ant-table-body::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

.final-result::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .final-result {
    width: 95%;
    height: 95%;
  }
  .final-result-container {
    width: 90vw;
    margin: auto;
  }
}
