.work-hours-container {
  background-color: #e7e7e7;
  width: 100%;
  height: 100%;
  margin: 1rem auto;
  padding: 1rem;
  overflow-y: scroll;
}

.work-hours-container::-webkit-scrollbar {
  display: none;
}

.work-hours-heading {
  text-align: center;
}

.work-hours-info {
  margin: 0;
  padding-block: 0.3rem;
}

.time-format {
  text-align: center;
}

.work-hours-table {
  margin-block: 2rem;
  margin-inline: auto;
}

.work-hours-table input {
  background-color: inherit;
  border: none;
  text-align: center;
}

.work-hours-actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.work-hours-actions button {
  display: block;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .work-hours-container {
    width: 95%;
  }
  .work-hours-actions button {
    margin-top: 0.3rem;
  }
}
