.work-hours-container {
  background-color: #e7e7e7;
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.work-hours-heading {
  text-align: center;
  font-size: 1.5rem;
}

.work-hours-info {
  margin: 0;
  padding-block: 0.3rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

.time-format {
  text-align: center;
}

.work-hours-table {
  margin-block: 2rem;
  margin-inline: auto;
}

.work-hours-table input {
  background-color: inherit;
  border: none;
  text-align: center;
}

.work-hours-table table th {
  font-weight: 600;
  background: #1890ff !important;
  color: #fff;
}

.work-hours-actions {
  display: flex;
  justify-content: flex-end;
}

.work-hours-actions button {
  display: block;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .work-hours-container {
    width: 90%;
  }
}